.stopwatch-body{
    min-height: 100vh;
    background-image: url(./bg.png);
    padding-block: 10em;
    background-color: pink;
    display: grid;
    place-items: center;
    overflow-x: hidden;
}
.stopwatch-content{
    background-color: rgba(0, 255, 255, 0.552);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.stopwatch-buttons{
    display: flex;
    column-gap: 4rem;
    transform: translateY(-20px);
}
.stopwatch-display{
    transform: translateY(20px);
}
@media screen and (min-width:786px) {
    .stopwatch-content{
        height: 500px;
        width: 500px;
    }
    .stopwatch-buttons{
        transform: translateY(-50px);
    }
    .stopwatch-display{
        transform: translateY(50px);
    }
}