.App {
  text-align: center;
}
:root{
  --heading : clamp(1rem,4vw,2rem);
  --p:clamp(0.7rem,2vw,1rem );
}
/* ::-webkit-scrollbar{
  
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  height: 100vh;
}

.App-link {
  color: #61dafb;
}


